<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.Mappers.PasswordResetMapper">
    <!-- add token -->
    <insert id="insertResetToken" parameterType="com.example.backend.POJO.VO.PasswordResetDO">
        INSERT INTO password_reset (id, username, reset_token, expire_time, is_used)
        VALUES (#{id}, #{username}, #{resetToken}, #{expireTime}, #{isUsed})
    </insert>

    <!-- check token -->
    <select id="selectByToken" parameterType="String" resultType="com.example.backend.POJO.VO.PasswordResetDO">
        SELECT id, username, reset_token as resetToken, expire_time as expireTime, is_used as isUsed
        FROM password_reset
        WHERE reset_token = #{resetToken}
    </select>

    <!-- change token used -->
    <update id="updateTokenUsed" parameterType="String">
        UPDATE password_reset
        SET is_used = 1
        WHERE reset_token = #{resetToken}
    </update>
</mapper>